* {
  font-family: 'Nunito', sans-serif;
}
h1 {
  text-align: center;
}

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Results Table Table Table"
    "Results Table Table Table";
  justify-content: start;
}

.Results {
  grid-area: Results;
  height: 40em;
  background-color: rgb(251,251,251);
}

.Table {
  grid-area: Table;
}


/* Color Theme Swatches in RGBA */
.JCM-Fold-1-rgba { color: rgba(217, 26, 42, 1); }
.JCM-Fold-2-rgba { color: rgba(166, 36, 60, 1); }
.JCM-Fold-3-rgba { color: rgba(32, 57, 89, 1); }
.JCM-Fold-4-rgba { color: rgba(43, 70, 111, 1); }
.JCM-Fold-5-rgba { color: rgba(242, 242, 242, 1); }

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position:absolute;
  z-index:20;
  font-size:30px;
  top:100px;
  left:24px;
  transform:scale(.88,.88);
}

.md-table {
  min-width: 95%;
  border-collapse: collapse;
  margin: auto;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  background-color:rgba(43, 70, 111,0.1);
}

.md-table-header {
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  background-color: rgb(251,251,251);
  border: 8px solid rgb(251,251,251);
}

.wrap-centre {
  display: flex;
  justify-content: center;
}

.results-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

.wrap-padding {
  padding-bottom: 10px;
  padding-top: 10px;
}

.table-row {
  margin-top: 50px;
  border-bottom: 1px solid rgb(251,251,251);
}
