.background-box {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.background-box:hover {
  cursor: pointer;
  background: linear-gradient(90deg, rgba(43,70,111,1) 0%, rgba(43,70,111,1) 0%, rgba(166,36,60,1) 100%);
  color: white;
}

.team {
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  margin-left: 1px;
  margin-right: 1px;
  width: 35%;
}

.time {
  color: white;
  font-weight: bold;
  background-color: rgb(67, 7, 74);
  margin-left: 1px;
  margin-right: 1px;
  padding: 2px;
  width: 25%;
}
